/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font-size: 100%;*/
/*    font: inherit;*/
/*    vertical-align: baseline;*/
/*}*/

/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
/*    display: block;*/
/*}*/

/*ol, ul {*/
/*    list-style: none;*/
/*}*/
/*blockquote, q {*/
/*    quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
/*    content: '';*/
/*    content: none;*/
/*}*/
/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*}*/

/*General*/

a,
span,
input,
i,
button {
    display: inline-flex;
    color: inherit;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}

:root {
    --mainDesClr: #db2e2e;
    --bgMain: #ffffff;
    --bgExtra: #000000;
    --borderLight: #e3e3e3;

    --ffText: "Source Sans Pro", sans-serif;
    --ffTextExtra: "Oswald", sans-serif;

    --fClrP: #484848;
    --fClrLight: #ffffff;

    --sectPadTop: 4.5rem;
    --sectPadBtm: 5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ffText);
    background-color: var(--bgMain);
}

p {
    font-family: var(--ffText);
    font-size: 14px;
    color: var(--fClrP)
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ffTextExtra);
    text-transform: uppercase;
}

.design-color {
    color: var(--mainDesClr);
}

.hover-link:hover {
    text-decoration: none;
    color: var(--mainDesClr);
    transition: .2s;
}

/*Header*/

.header-contacts {
    background-color: #1d1d1d;
    color: var(--fClrLight);
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.socials {
    width: 25px;
    height: 25px;
    font-size: 12px;
}

.header-menu {
    background-color: #282828;
    color: var(--fClrLight);
    padding: 1rem 0;
}

/*Navbar*/

.header-menu .navbar {
    font-family: var(--ffTextExtra);
}

.header-menu .nav-link {
    margin-right: 2rem;
    color: var(--fClrLight) !important;
    position: relative;
}


.header-menu .nav-link::before {
    position: absolute;
    top: calc(100% + 1.2rem);
    left: 0;
    content: '';
    width: 100%;
    height: 0;
    background-color: var(--mainDesClr);
    transition: .2s ease;
}

.header-menu .nav-link:hover::before  {
    height: 4px;
}

.header-menu .dropdown-menu {
    background-color: #1d1d1d;
    left: -15px;
    width: 11rem;
    padding: 1rem;
}

.header-menu .dropdown-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-menu .dropdown-menu p {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #4b4b4b;
    color: var(--fClrLight);
    text-transform: uppercase;
    font-family: var(--ffTextExtra);
}

.header-menu .dropdown-menu button {
    font-weight: 400;
}

.header-menu .dropdown-menu span {
    color: #4b4b4b;
    text-transform: uppercase;
    font-size: 0.6rem;
    align-self: center;
}

/*Hero*/

.hero {
    background:
            linear-gradient(rgba(0, 0, 0, .85),
            rgba(0, 0, 0, .85)), url(../img/main-bg.jpg) no-repeat center / cover;
    color: var(--fClrLight);
    position: relative;
    overflow: hidden;
}

.hero-mascot {
    position: absolute;
    bottom: 0;
    right: 10%;
    max-width: 100%;
}

.hero-body {
    padding: 7rem 0;
}

.hero .hero-card.card-image {
    border: 10px solid transparent;
    width: 90px;
    height: 90px;
    margin: 0 2rem 0 0;
}

.hero .hero-card.card-image img {
    width: 78px;
    height: 78px;
}

.hero .slider-item {
    background-color: rgba(8, 8, 8, 0.6);
    padding: 1rem 4rem;
}

.hero .slider-price {
    flex-basis: 50%;
}

.hero .slider-price span {
    font-family: var(--ffTextExtra);
    font-size: .7rem;
    text-align: right;
    margin-bottom: 0.5rem;
}

.hero .slider-price .font-large {
    font-size: 3rem;
    line-height: 1;
}

.hero .carousel-control-next,
.hero .carousel-control-prev {
    width: 4%;
    height: 50%;
    opacity: 1;
    background-color: var(--mainDesClr);
    top: 50%;
    transform: translateY(-50%);
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
    width: 12px;
}

/*Daily meals*/

.daily-meals {
    background-color: #f8f8f8;
    padding-top: calc(var(--sectPadTop) - 2rem);
    padding-bottom: var(--sectPadBtm);
}

.daily-meals .card-item {
    padding: 0 50px;
    text-align: center;
    border-radius: 0;
}

.daily-meals .card-item>h4 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 700;
}

.daily-meals .card-item>a:first-child {
    margin-bottom: 1rem;
}

.daily-meals .card-item>p {
    margin-bottom: 2rem;
    color: #686868;
}

/*Samurai Specials*/

.specials {
    padding-top: var(--sectPadTop);
    padding-bottom: var(--sectPadBtm);
}

.section-title {
    font-size: 3rem;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    position: relative;
}

.section-title>span {
    font-weight: 300;
}

.section-title>span::before {
    content: '';
    position: absolute;
    width: 170px;
    height: 5px;
    background-color: #db2e2e;
    left: 0;
    bottom: 0;
}

.specials .card-container {
    padding-top: 70px;
    margin-bottom: 2rem;
}

.specials .card-item {
    border-radius: 0;
    align-items: center;
    text-align: center;
}

.specials .card-image,
.hero .card-image,
.team .card-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cccccc;
    border: 10px solid #ffffff;
    margin-top: -70px;
    margin-bottom: 1rem;
}

.specials .card-image img,
.hero .card-image img,
.team .card-image img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 5px solid var(--mainDesClr);
}

.specials .card-image .champion {
    border-color: #ffaa17;
}

.circle-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--mainDesClr);
    color: #ffffff;
    transform: scale(0);
    opacity: 0.85;
    transition: .3s ease;
    font-size: 1rem;
}

.circle-hover.champion {
    background-color: #ffaa17;
}

.specials .card-image:hover .circle-hover,
.hero .card-image:hover .circle-hover,
.team .card-image:hover .circle-hover {
    transform: scale(1);
}

.circle-hover>i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
}

.specials .card-item>p {
    color: #a0a0a0;
}

.special-label {
    position: absolute;
    width: 38px;
    height: 59px;
    background-image: url('../img/icons/css_sprites.png');
}

.special-label.new {
    top: -7px;
    left: 10px;
    background-position: -98px -20px;
}

.special-label.champion {
    top: -7px;
    right: 10px;
    background-position: -20px -20px;
}

.specials .card-buttons {
    display: flex;
    font-weight: 600;
}

.specials .card-buttons>div {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #282828;
    color: #ffffff;
    font-size: 0.9rem;
}

.specials .card-buttons>div>span {
    flex-direction: column;
    align-items: center;
    font-size: 8px;
    margin-left: 10px;
    margin-right: 25px;
    line-height: 1;
}

.specials .card-buttons .portion-nmbr {
    font-size: 0.6rem;
    font-weight: 700;
}

.specials .card-buttons>* {
    width: 50%;
}

.btn-card {
    font-size: 12px;
    padding: 5px 0;
    border-radius: 0;
}

.btn-card.champion {
    background-color: #ffaa17;
    border-color: #ffaa17;
}

.specials .card-buttons .fa-plus {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.section-legend {
    text-transform: uppercase;
}

.section-legend>p {
    font-size: 1.1rem;
    color: #b8b8b8;
}

.section-legend>h4 {
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
}
/*clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 74%, 0 100%);*/

/*Our Dream Team*/

.team {
    color: var(--fClrLight);
    padding-top: var(--sectPadTop);
    padding-bottom: var(--sectPadBtm);
    background:
    linear-gradient(rgba(0, 0, 0, .9),
    rgba(0, 0, 0, .85)), url(../img/new-york-empire-state-building-manhattan-zaliv-doma-neboskri.jpg) no-repeat center / cover;;
}

.team .section-title {
    border-color: #4b4b4b;
}

.team .team-card {
    padding-top: 135px;
    text-align: center;
}

.team-card .card-image {
    width: 270px;
    height: 270px;
    border: 15px solid transparent;
    margin-top: -135px;
}

.team-card .card-image img {
    width: 245px;
    height: 245px;
}

.team-card .card-image>a {
    font-size: .8rem;
}

/*Our history*/

.history {
    padding-top: var(--sectPadTop);
    padding-bottom: var(--sectPadBtm);
}

.history-card img {
    object-fit: cover;
}

.history-card:first-child img {
    max-height: 230px;
}

.history-card:nth-child(3) img {
    max-height: 310px;
}


