/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font-size: 100%;*/
/*    font: inherit;*/
/*    vertical-align: baseline;*/
/*}*/

/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
/*    display: block;*/
/*}*/

/*ol, ul {*/
/*    list-style: none;*/
/*}*/
/*blockquote, q {*/
/*    quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
/*    content: '';*/
/*    content: none;*/
/*}*/
/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*}*/

/*General*/

a,
span,
input,
i,
button {
    display: inline-flex;
    color: inherit;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}

:root {
    --mainDesClr: #db2e2e;
    --bgMain: #ffffff;
    --bgExtra: #000000;
    --borderLight: #e3e3e3;

    --ffText: "Source Sans Pro", sans-serif;
    --ffTextExtra: "Oswald", sans-serif;

    --fClrPDark: #484848;
    --fClrPLight: #a2a2a2;
    --fClrLight: #f4f4f4;

    --sectPadTop: 4.5rem;
    --sectPadBtm: 5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ffText);
    background-color: var(--bgMain);
}

p {
    font-family: var(--ffText);
    font-size: 14px;
    color: var(--fClrPDark)
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ffTextExtra);
    text-transform: uppercase;
}

.design-color {
    color: var(--mainDesClr);
}

.font-bold {
    font-weight: 700;
}

.hover-link:hover,
.hover-link:focus {
    text-decoration: none;
    color: var(--mainDesClr);
    transition: .2s;
}

.no-scroll {
    overflow: hidden !important;

}

.fa-plus {
    font-size: 1rem;
}

/*Popups*/

.form-popup-overlay.show {
    display: flex;
}

.form-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.form-general {
    color: #000;
}

.form-general button[id$="Close"] {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    font-size: 1.5rem;
}

/*Login-form*/

.login-form {
    background-color: var(--bgMain);
    padding: 1rem;
    padding-bottom: 0;
}

.login-form input {
    text-transform: capitalize;
    background-color: #f8f8f8;
}

.login-form .form-info {
    background-color: #f8f8f8;
    padding: 1rem;
    margin: 0 -1rem;
}

.login-form .form-info>p {
    color: var(--fClrPLight);
}
/*Header*/

.header-contacts {
    background-color: #1d1d1d;
    color: var(--fClrLight);
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.socials {
    width: 25px;
    height: 25px;
    font-size: 12px;
}

.header-menu {
    background-color: #282828;
    color: var(--fClrLight);
    padding: 1rem 0;
}

/*Navbar*/

.header-menu .navbar {
    font-family: var(--ffTextExtra);
}

.header-menu .nav-link {
    margin-right: 2rem;
    color: var(--fClrLight) !important;
    position: relative;
}


.header-menu .nav-link::before {
    position: absolute;
    top: calc(100% + 1.2rem);
    left: 0;
    content: '';
    width: 100%;
    height: 0;
    background-color: var(--mainDesClr);
    transition: .2s ease;
}

.header-menu .nav-link:hover::before,
.header-menu .nav-link:focus::before {
    height: 4px;
}

.header-menu .dropdown-menu {
    background-color: #1d1d1d;
    left: -15px;
    width: 11rem;
    padding: 1rem;
}

.header-menu .dropdown-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-menu .dropdown-menu p {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #4b4b4b;
    color: var(--fClrLight);
    text-transform: uppercase;
    font-family: var(--ffTextExtra);
}

.header-menu .dropdown-menu button {
    font-weight: 400;
}

.header-menu .dropdown-menu span {
    color: #4b4b4b;
    text-transform: uppercase;
    font-size: 0.6rem;
    align-self: center;
}

/*Hero*/

.hero {
    background:
        linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)),
        url(../img/main-bg.jpg) no-repeat center / cover;
    color: var(--fClrLight);
    overflow: hidden;
}

.hero-mascot {
    bottom: 0;
    right: 0;
}

.hero-body {
    padding: 7rem 0;
}

.hero .hero-card.card-image {
    border: 10px solid transparent;
    width: 90px;
    height: 90px;
    margin: 0 2rem 0 0;
}

.hero .hero-card.card-image img {
    width: 78px;
    height: 78px;
}

.hero .slider-item {
    background-color: rgba(8, 8, 8, 0.6);
    padding: 1rem 4rem;
}

.hero .slider-item p {
    color: var(--fClrPLight);
}

.hero .slider-price {
    flex-basis: 50%;
}

.hero .slider-price span {
    font-family: var(--ffTextExtra);
    font-size: .7rem;
    text-align: right;
    margin-bottom: 0.5rem;
}

.hero .slider-price .font-large {
    font-size: 3rem;
    line-height: 1;
}

.hero .carousel-control-next,
.hero .carousel-control-prev {
    width: 4%;
    height: 50%;
    opacity: 1;
    background-color: var(--mainDesClr);
    top: 50%;
    transform: translateY(-50%);
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
    width: 12px;
}

/*Daily meals*/

.daily-meals {
    background-color: #f8f8f8;
    padding-top: calc(var(--sectPadTop) - 2rem);
    padding-bottom: var(--sectPadBtm);
}

.daily-meals .card-item {
    padding: 0 50px;
    text-align: center;
    border-radius: 0;
}

.daily-meals .card-item>h4 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 700;
}

.daily-meals .card-item>a:first-child {
    margin-bottom: 1rem;
}

.daily-meals .card-item>p {
    margin-bottom: 2rem;
}

/*Samurai Specials*/

.specials {
    padding-top: var(--sectPadTop);
    padding-bottom: var(--sectPadBtm);
}

.section-title {
    font-size: 3rem;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    position: relative;
}

.section-title>span {
    font-weight: 300;
}

.section-title>span::before {
    content: '';
    position: absolute;
    width: 170px;
    height: 5px;
    background-color: var(--mainDesClr);
    left: 0;
    bottom: 0;
}

.specials .card-container {
    padding-top: 70px;
    margin-bottom: 2rem;
}

.specials .card-item {
    border-radius: 0;
    align-items: center;
    text-align: center;
}

.card-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cccccc;
    border: 10px solid #ffffff;
    margin-top: -70px;
    margin-bottom: 1rem;
}

.card-image img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    border: 5px solid var(--mainDesClr);
}

.specials .card-image .champion {
    border-color: #ffaa17;
}

.circle-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--mainDesClr);
    color: #ffffff;
    transform: scale(0);
    opacity: 0.85;
    transition: .3s ease;
    font-size: 1rem;
    z-index: 2;
}

.circle-hover.champion {
    background-color: #ffaa17;
}

.card-image:hover .circle-hover,
.card-image:focus-within .circle-hover {
    transform: scale(1);
}

.circle-hover>i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
}

.specials .card-item>p {
    color: #a0a0a0;
}

.special-label {
    position: absolute;
    width: 38px;
    height: 59px;
    background-image: url('../img/sprites/css_sprites.png');
}

.special-label.new {
    top: -7px;
    left: 10px;
    background-position: -98px -20px;
}

.special-label.champion {
    top: -7px;
    right: 10px;
    background-position: -20px -20px;
}

.specials .card-buttons {
    display: flex;
    font-weight: 600;
}

.specials .card-buttons>div {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #282828;
    color: #ffffff;
    font-size: 0.9rem;
}

.specials .card-buttons>div>span {
    flex-direction: column;
    align-items: center;
    font-size: 8px;
    margin-left: 10px;
    margin-right: 25px;
    line-height: 1;
}

.specials .card-buttons .portion-nmbr {
    font-size: 0.6rem;
    font-weight: 700;
}

.specials .card-buttons>* {
    width: 50%;
}

.btn-card {
    font-size: 12px;
    padding: 5px 0;
    border-radius: 0;
}

.btn-card.champion {
    background-color: #ffaa17;
    border-color: #ffaa17;
}

.specials .card-buttons .fa-plus {
    margin-right: 0.5rem;
}

.section-legend {
    text-transform: uppercase;
}

.section-legend>p {
    font-size: 1.1rem;
    color: #b8b8b8;
}

.section-legend>h4 {
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
}
/*clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 74%, 0 100%);*/

/*Our Dream Team*/

.team {
    color: var(--fClrLight);
    padding-top: var(--sectPadTop);
    padding-bottom: calc((var(--sectPadBtm)) - 1.5rem);
    background:
        linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)),
        url(../img/team-bg.jpg) no-repeat center / cover;;
}

.team p {
    color: var(--fClrPLight);
}

.team .section-title {
    border-color: #4b4b4b;
}

.team .team-card {
    padding-top: 135px;
    text-align: center;
}

.team-card .card-image {
    width: 270px;
    height: 270px;
    border: 15px solid transparent;
    margin-top: -135px;
}

.team-card .card-image img {
    width: 245px;
    height: 245px;
}

.team-card .card-image>a {
    font-size: .8rem;
}

/*Our history*/

.history {
    padding-top: var(--sectPadTop);
    padding-bottom: var(--sectPadBtm);
}

.history-card img {
    object-fit: cover;
}

.history-card:first-child img {
    max-height: 230px;
}

.history-card:nth-child(3) img {
    max-height: 310px;
}

/*Instant order*/

.instant-order {
    background:
        linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)),
        url(../img/order-bg.jpg) no-repeat center / cover;
    color: var(--fClrLight);
}

.instant-order>.container {
    padding: 5.3rem 0;
}

.instant-order img[alt^="order"] {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.instant-order img[alt^="hand"] {
    bottom: 0;
    right: -2rem;
}

.instant-order p {
    color: var(--fClrPLight);
}

.order-phone {
    font-family: var(--ffTextExtra);
    text-align: right;
}

.oder-phone a {
    text-transform: uppercase;
}

.order-phone a:first-child {
    font-size: 1.5rem;
}

.order-phone a:last-child {
    font-size: 3rem;
    font-weight: 700;
}

/*Offers and Combos*/

.combos {
    padding-top: var(--sectPadTop);
    padding-bottom: var(--sectPadBtm);
    font-size: 16px;
}

.combos-arc.red {
    height: 39em;
    width: 100%;
    background: url(../img/sprites/arc-sprite.png) no-repeat -25px 0 / cover;
}

.combos-arc.yellow {
    height: 39em;
    background: url('../img/sprites/arc-sprite.png') no-repeat -414px 0 / cover;
}

.combos-arc {
    color: var(--fClrLight);
    padding: 90px 45px 0 35px;
    font-family: var(--ffTextExtra);
    text-align: center;
    margin-bottom: 4.1rem;
}

.combos-arc>ul {
    padding: 0;
    list-style: none;
    font-weight: 300;
    margin-bottom: 1rem;
}

.combos-arc>ul>li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0;
    border-bottom: 1px dashed #4b4b4b;
    text-transform: uppercase;
    font-size: 1rem;
}

.combos-price {
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.combos-price .font-large {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.1;
}

.combos-price + p {
    text-transform: uppercase;
    color: var(--fClrLight);
    font-family: var(--ffTextExtra);
    width: 45%;
    margin-bottom: 3.35rem;
}

.combos-price + p>span {
    font-weight: 700;
}

.combos-arc button {
    font-family: var(--ffText);
    padding: 0.4rem 1.1rem;
}

.section-legend + p{
    color: var(--fClrPLight);
}

/*Reviews*/

.reviews {
    background:
            linear-gradient(rgba(219, 46, 46, .85), rgba(219, 46, 46, .85)),
            url(../img/bg-reviews.jpg) no-repeat center / cover;
    color: var(--fClrLight);
}

.review-card {
    width: 35%;
}

.review-card .card-image {
    border: 10px solid transparent;
    width: 80px;
    height: 80px;
}

.review-card .card-image img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 5px solid #000;
    border-radius: 50%;
}

.review-card p {
    color: var(--fClrLight);
    font-style: italic;
    font-weight: 100;
    font-size: 0.7em;
    align-self: flex-end;
}

    /*Progress bars*/

.progress_bar {
    padding: calc(var(--sectPadTop) + 1rem) 0;
    background:
            linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)),
            url(../img/bg-progressBars.jpg) no-repeat center / cover;
}

.progressbar-item {
    width: 200px;
    height: 200px;
}

.progressbar-text {
    color: var(--fClrLight);
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: 700;
}

.progressbar-item+h5 {
    color: var(--fClrLight);
}

/*Contact-us*/

.contact-us {
    padding-top: var(--sectPadTop);
    padding-bottom: var(--sectPadBtm);
}

.contacts a>p {
    color: var(--fClrPLight);
    text-transform: capitalize;
    margin-bottom: 0;
}

.contacts a::before {
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--mainDesClr);
    transition: .2s ease;
}

.contacts a:hover::before,
.contacts a:focus::before {
    width: 100%;
}

.contacts-form input,
.contacts-form textarea {
    text-transform: capitalize;
    background-color: #f8f8f8;
    font-style: italic;
    font-size: 0.8rem;
    padding: 0.7em;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
}

/*Map*/

.map {
    height: 360px;
}

.map iframe {
    width: 100%;
    height: 360px;
    border: 0;
}

/*Footer*/

.footer {
    background-color: #282828;
    padding: 1.5rem 0;
}

.footer .font-thin {
    font-weight: 100;
    color: var(--fClrPLight);
}

.footer .copyright {
    font-family: var(--ffTextExtra);
}

/*Media*/

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .header-contacts .row>div {
        justify-content: center !important;
    }

    .header-menu {
        position: relative;
    }

    .navbar {
        position: absolute;
        top: -1.7rem;
    }

    .navbar-collapse {
        z-index: 10;
    }

    .header-menu .nav-link::before {
        position: absolute;
        top: 100%;
    }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {

}



